<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400362370552-0t2le4o8fjl9f1767kf2kpphjgjebvfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400362370552-0t2le4o8fjl9f1767kf2kpphjgjebvfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>400362370552-06nvd2582v3u9qt4dqg9b0b93m3i8vcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWtT1yj6uCymFhLkWcSbydSEsSfhFBoLw</string>
	<key>GCM_SENDER_ID</key>
	<string>400362370552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safeouts.safeoutsBusiness</string>
	<key>PROJECT_ID</key>
	<string>safeouts-297109</string>
	<key>STORAGE_BUCKET</key>
	<string>safeouts-297109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400362370552:ios:2e1b8531745772bd8e120d</string>
	<key>DATABASE_URL</key>
	<string>https://safeouts-297109.firebaseio.com</string>
</dict>
</plist>